<div class="media">
  <div class="media-left">
    <a target="_blank"
       href="{{data.url}}">
      <img class="media-object" src="{{data.imageUrl}}">
    </a>
  </div>
  <div class="media-body">
    <div class="media-body">
      <h4 class="media-heading">
        {{data.productName}}
      </h4>
      <button name="btn"
        class="btn btn-primary"
        [class.disabled]="!isValid">Buy
      </button>
      {{data.releaseDate}}
      <app-rating
        [rating-value]="data.rating">
      </app-rating>
      {{data.description}}
      <hr>
    </div>
  </div>
</div>

